html, body {
  height: 100%;
}

 * {
   margin: 0;
   padding: 0;

 }

.panes {
  width: 100%;
  height: 100%;
}

body.dragging * {
  user-select: none;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none
}

/* ================================= */

canvas {
  position: 'absolute';
  width: 100%;
  height: 100%;
}

.canvas-parent {
  width: calc(100% - 20rem);
  height: 100%;
  display: inline-block;
  float: right;
  overflow: hidden;
}

/* ================================= */

.files {
  width: 20rem;
  height: 100%;
  display: inline-block;
  float: left;
  overflow: hidden;
  position: relative;
}

.files .header {
  height: 3rem;
  border-bottom: 1px solid #aaa;
}

.list-elem {
  padding: .5rem;
  border-bottom: 1px solid #aaa;
}

.list-elem {
  background: white;
}

.selected {
  background: #eee;
}

.files .header .newfile, .files .header .newfolder {
  display: inline-block;
  float: right;
  font-size: 2rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-right: .5rem;
  padding-left: .5rem;
}

.files .header .title {
  display: inline-block;
  float: left;
  font-family: helvetica;
  letter-spacing: .1rem;
  font-size: 1.5rem;
  padding: .75rem;
}

.files .header .newfile:hover, .files .header .newfolder:hover {
  background: #eee;
}

.files .header .newfile:active, .files .header .newfolder:active {
  background: #ddd;
}

.list-elem.selectable:not(.selected):hover {
  background: #f8f8f8;
}

.list-elem.clickable:not(.selected):active,
.list-elem.clickable.selected:active {
  background: #ddd;
}

.list-elem.clickable.selected:active {
  background: #ddd;
}

.files .trash {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  filter: grayscale(50%);
  opacity: 0.10;
  width: 2rem;
}

.files .trash.active {
  filter: none;
  opacity: 1.0;
}

.files .network {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  filter: grayscale(50%);
  opacity: 0.10;
  width: 2rem;
}

.files .network.active {
  filter: none;
  opacity: 1.0;
}

.files .list .parent {
  padding: 0;
}

.parent > * {
  margin-left: 3rem;
}

.files .list .folder > * {
  display: inline-block;
}

.folder > *:nth-child(2),
.folder > *:nth-child(3),
.folder > *:nth-child(4) {
  float: right;
  margin-top: -.25rem;
  padding: .25rem;
  filter: grayscale(50%);
  opacity: 0.10;
}

.folder > *:nth-child(4) {
  padding: .375rem;
  font-size: .75rem;
}

.folder > *:nth-child(2):hover,
.folder > *:nth-child(3):hover,
.folder > *:nth-child(4):hover {
  filter: none;
  opacity: 1.0;
}

.folder > *:nth-child(2) {
  margin-right: -.25rem;
}
